<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <php>
  		<const name="MONGO_ADDR" value="127.0.0.1"/>
	</php>
    <testsuites>
        <testsuite name="Sql2Mongo Test Suite">
            <directory suffix="Test.php">./tests/Sql2Mongo/Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/Sql2Mongo/</directory>
        </whitelist>
    </filter>
    
</phpunit>